/* ----------  IMPORTACION DE FUENTES ----------- */

@font-face {
    font-family: Calculator;
    src: url('../fonts/Calculator.ttf');
}

body{
  background-image: url("https://www.deoci.com/wp-content/uploads/2014/10/1914_deoci.com_.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

#marcador {
	font-family: Calculator;
	border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
}

#cajaControles {
	margin-top: 30px;
}

#cajaResultados {
	display: none;
}


button#comenzar.btn-block + button#pausar.btn-block {
  margin-top: 0px;
}

.btn{
  border-radius: 20px;
}

.nav-lynx{
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  margin: 10px;
  border-bottom: #dc3545 3px solid;
  border-top: #0d6efd 3px solid;
}

.reloj-marco{
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-bottom: #dc3545 3px solid;
  border-top: #0d6efd 3px solid;
}

.img-time{
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  margin: 10px;
  padding: 40px;
  color: #FFFFFF;
  font-weight: bold;
  border-bottom: #198754 3px solid;
  border-top: #198754 3px solid;
}

.footer-lynx{
  border-bottom: #dc3545 3px solid;
  border-top: #0d6efd 3px solid;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  margin: 10px;
  color: #FFFFFF;
}
